:root {
}

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}

body::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    background-image: url(bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

.container {
    width: clamp(350px, 350px + 10vw, 600px);
    height: 250px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 30px;
    box-shadow: 0 0 10px black;
    color: white;
}

#timer {
    width: 100%;
    font-size: clamp(24px, 36px + 3vw, 72px);
    text-align: center;
    margin: 0px auto;
    padding-top: 35px;
}

.buttons {
    text-align: center;
    margin-top: 40px;
}

button {
    margin: 0 10px;
    border: none;
}

button i {
    font-size: 2rem;
    padding: 10px;
    color: white;
    width: 50px;
}

#play {
    background-color: green;
}

#pause {
    background-color: orange;
}

#reset {
    background: red;
}
